{$DOMAIN}:443 {
  log {
    level INFO
    output file {$LOG_FILE} {
      roll_size 10MB
      roll_keep 10
    }
  }

  # Use the ACME DNS-01 challenge to get a cert for the configured domain.
  tls {
    dns duckdns {$DUCKDNS_TOKEN}
  }

  # This setting may have compatibility issues with some browsers
  # (e.g., attachment downloading on Firefox). Try disabling this
  # if you encounter issues.
  encode zstd gzip
    
  route /vault/notifications/hub {
    # Notifications redirected to the WebSocket server
    uri strip_prefix /vault
    reverse_proxy /notifications/hub vaultwarden:3012
  }
  # All the urls are vault#/<> and hence vault*
  route /vault* {
    # Notifications redirected to the WebSocket server
    uri strip_prefix /vault
    reverse_proxy vaultwarden:80
  }
  route /pihole* {
    # Notifications redirected to the WebSocket server
    uri strip_prefix /pihole
    reverse_proxy pihole:80
    encode zstd gzip
  }
}
